<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension
        point="com.github.eclipsecolortheme.mapper">
     <mapper
           class="com.github.eclipsecolortheme.mapper.GenericMapper"
           name="haxe - eclihx"
           pluginId="eclihx.ui"
           xml="eclihx.ui.mapping.xml">
     </mapper>
  </extension>
</plugin>
