<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="haxenature"
         name="haXe project nature"
         point="org.eclipse.core.resources.natures">
		<runtime>
			<run class="eclihx.core.haxe.model.HaxeProjectNature">
			</run>
      </runtime>
   </extension>
</plugin>
