<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension point="org.eclipse.core.runtime.preferences">
      <initializer class="eclihx.launching.LauncherPreferenceInitializer"/>
   </extension>
   <extension point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="eclihx.launching.HaxeLaunchDelegate"
            id="eclihx.launching.HaxeLaunchDelegate"
            modes="run, debug"
            name="haXe application"
            sourceLocatorId="eclihx.launching.HaxeSourceLocator"
            sourcePathComputerId="eclihx.launching.HaxeSourcePathComputerDelegate"/>
   </extension>
   <extension
         point="org.eclipse.debug.core.sourceLocators">
      <sourceLocator
            class="eclihx.launching.HaxeSourceLocator"
            id="eclihx.launching.HaxeSourceLocator"
            name="Haxe Source Locator">
      </sourceLocator>
   </extension>
   <extension
         point="org.eclipse.debug.core.sourcePathComputers">
      <sourcePathComputer
            class="eclihx.launching.HaxeSourcePathComputerDelegate"
            id="eclihx.launching.HaxeSourcePathComputerDelegate">
      </sourcePathComputer>
   </extension>
</plugin>
