<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="HX Editor"
            extensions="hx"
            icon="icons/sample.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="eclihx.ui.internal.ui.editors.hx.HXEditor"
            id="eclihx.ui.internal.ui.editors.HXEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="eclihx.ui.internal.ui.preferences.EclihxMainPreferencePage"
            id="org.eclipse.jdt.ui.preferences.EclihXMainPreferencePage"
            name="%eclihxMainPrefName"/>
      <page
            category="org.eclipse.jdt.ui.preferences.EclihXMainPreferencePage"
            class="eclihx.ui.internal.ui.preferences.HaxeEditorPreferencePage"
            id="org.eclipse.jdt.ui.preferences.HaxeBasePreferencePage"
            name="%hxEditorPrefName"/>
   </extension>
   
	<extension point="org.eclipse.ui.newWizards">
		<category 
			id="eclihx.ui.haxe"
			name="%newWizardCategoryName"/>
		<wizard
            category="eclihx.ui.haxe"
            class="eclihx.ui.internal.ui.wizards.HaxeProjectWizard"
            icon="icons/sample.gif"
            id="eclihx.ui.internal.ui.wizards.HaxeProjectWizard"
            name="%newHaxeProject.name"
            project="true">
            <description>
            	%newHaxeProject.description
            </description>
		</wizard>
		<wizard
        	category="eclihx.ui.haxe"
        	class="eclihx.ui.internal.ui.wizards.HaxeFileWizard"
        	icon="icons/sample.gif"
        	id="eclihx.ui.internal.ui.wizards.HaxeFileWizard"
        	name="%newHaxeFile.name"
        	project="false">
        	<description>
            	%newHaxeFile.description
            </description>
		</wizard>
	</extension>
 <extension
       point="org.eclipse.ui.perspectives">
    <perspective
          class="eclihx.ui.internal.ui.HaxePerspectiveFactory"
          icon="icons/sample.gif"
          id="eclihx.ui.internal.ui.HaxePerspectiveFactory"
          name="%haxeEclihxPerspective.name"/>
 </extension>

</plugin>
