<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="eclihx.core.haxe.model.core.IHaxeElement"
            class="eclihx.ui.internal.adapters.HaxeElementsAdapterFactory">
         <adapter
               type="org.eclipse.core.resources.IResource">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            description="Editing haXe Source Context"
            id="eclihx.ui.haxeEditorScope"
            name="Editing haXe Source"
            parentId="org.eclipse.ui.textEditorScope">
      </context>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="eclihx.ui.internal.ui.editors.hx.HXEditor"
            contributorClass="eclihx.ui.internal.ui.editors.hx.HxEditorActionContributor"
            extensions="hx"
            icon="icons/h_file_s.gif"
            id="eclihx.ui.internal.ui.editors.HXEditor"
            name="%hxEditor.name">
      </editor>
      <editor
            class="eclihx.ui.internal.ui.editors.hxml.HxmlEditor"
            extensions="hxml"
            icon="icons/build_file_s.png"
            id="eclihx.ui.editor.hxml"
            name="%hxmlEditor.name">
      </editor>
   </extension>
  <extension
        point="org.eclipse.core.filebuffers.documentSetup">
     <participant
           class="eclihx.ui.internal.ui.editors.hxml.HxmlPartitionScanner"
           extensions="hxml">
     </participant>
  </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="eclihx.ui.internal.ui.preferences.EclihxMainPreferencePage"
            id="org.eclipse.jdt.ui.preferences.EclihXMainPreferencePage"
            name="%eclihxMainPrefName"/>
      <page
            category="org.eclipse.jdt.ui.preferences.EclihXMainPreferencePage"
            class="eclihx.ui.internal.ui.preferences.HaxeEditorPreferencePage"
            id="org.eclipse.jdt.ui.preferences.HaxeBasePreferencePage"
            name="%hxEditorPrefName"/>
      <page
            category="org.eclipse.jdt.ui.preferences.EclihXMainPreferencePage"
            class="eclihx.ui.internal.ui.preferences.HaxeCompilerPreferencePage"
            id="eclihx.ui.internal.ui.preferences.HaxeCompilerPreferencePage"
            name="%hxCompilerPrefName"/>
	  <page
            category="org.eclipse.jdt.ui.preferences.EclihXMainPreferencePage"
            class="eclihx.ui.internal.ui.preferences.HaxePackagePreferencePage"
            id="eclihx.ui.internal.ui.preferences.HaxePackagePreferencePage"
            name="%hxPackagePrefName"/>
   <page
         category="org.eclipse.jdt.ui.preferences.HaxeBasePreferencePage"
         class="eclihx.ui.internal.ui.preferences.HaxeColorPreferencePage"
         id="eclihx.ui.internal.ui.preferences.HaxeColorPreferencePage"
         name="Color">
   </page>
   <page
         category="org.eclipse.jdt.ui.preferences.HaxeBasePreferencePage"
         class="eclihx.ui.internal.ui.preferences.HaxeFormatOptionsPreferencePage"
         id="eclihx.ui.internal.ui.preferences.HaxeFormatOptionsPreferencePage"
         name="Format Options">
   </page>
   </extension>
 <extension
       point="org.eclipse.ui.perspectives">
    <perspective
          class="eclihx.ui.internal.ui.HaxePerspectiveFactory"
          fixed="false"
          icon="icons/h_perspective_s.gif"
          id="eclihx.ui.internal.ui.HaxePerspectiveFactory"
          name="%haxeEclihxPerspective.name"/>
 </extension>
   
	<extension point="org.eclipse.ui.newWizards">
		<category 
			id="eclihx.ui.haxe"
			name="%newWizardCategoryName"/>
		<wizard
        canFinishEarly="false"
        category="eclihx.ui.haxe"
        class="eclihx.ui.internal.ui.wizards.HaxeProjectWizard"
        finalPerspective="eclihx.ui.internal.ui.HaxePerspectiveFactory"
        hasPages="true"
        icon="icons/h_project_s.gif"
        id="eclihx.ui.internal.ui.wizards.HaxeProjectWizard"
        name="%newHaxeProject.name"
        preferredPerspectives="eclihx.ui.internal.ui.HaxePerspectiveFactory"
        project="true">
            <description>
            	%newHaxeProject.description
            </description>
		</wizard>
		<wizard
        	category="eclihx.ui.haxe"
        	class="eclihx.ui.internal.ui.wizards.HaxeFileWizard"
        	icon="icons/h_file_s.gif"
        	id="eclihx.ui.internal.ui.wizards.HaxeFileWizard"
        	name="%newHaxeFile.name"
        	project="false">
        	<description>
            	%newHaxeFile.description
            </description>
		</wizard>
		<wizard
			category="eclihx.ui.haxe"
			class="eclihx.ui.internal.ui.wizards.HaxeBuildFileWizard"
			icon="icons/build_file_s.png"
			id="eclihx.ui.internal.ui.wizards.HaxeBuildFileWizard"
			name="%newHaxeBuildFile.name"
			project="false">
			<description>
				%newHaxeBuildFile.description
			</description>
		</wizard>
  <wizard
        category="eclihx.ui.haxe"
        class="eclihx.ui.internal.ui.wizards.HaxePackageWizard"
        icon="icons/newpack_wiz_s.gif"
        id="eclihx.ui.internal.ui.wizards.HaxePackageWizard"
        name="%newHaxePackage.name"
        project="false">
     <description>
        %newHaxePackage.description
     </description>
  </wizard>
	</extension>
 <extension
       point="org.eclipse.ui.propertyPages">
    <page
          class="eclihx.ui.internal.ui.properties.BuildPathPropertyPage"
          id="eclihx.ui.page1"
          name="%projectBuildPathPage.name">
       <enabledWhen>
          <test
                property="org.eclipse.core.resources.projectNature"
                value="eclihx.core.haxenature">
          </test>
       </enabledWhen>
    </page>
 </extension>
 <extension
       point="org.eclipse.debug.ui.launchConfigurationTypeImages">
    <launchConfigurationTypeImage
          configTypeID="eclihx.launching.HaxeLaunchDelegate"
          icon="icons/h_app_s.gif"
          id="eclihx.ui.launchConfigurationImage"/>
 </extension>
 <extension
       point="org.eclipse.debug.ui.launchShortcuts">
    <shortcut
          class="eclihx.ui.launch.HaxeLaunchShortcut"
          helpContextId="eclihx.ui.launch.haxe_launch_shortcut"
          icon="icons/h_app_s.gif"
          id="eclihx.ui.launch.HaxeLaunchShortcut"
          label="haXe application"
          modes="run">
       <contextualLaunch>
          <enablement>
             <with
                   variable="selection">
                <count value="1"/>
                <iterate>
                <or>
                   <test
                         property="org.eclipse.debug.ui.matchesPattern"
                         value="*.hxml">
                   </test>
                   <test
                         property="org.eclipse.debug.ui.matchesPattern"
                         value="*.hx">
                   </test></or>
                </iterate>
             </with>
          </enablement>
       </contextualLaunch>
       <configurationType
             id="eclihx.launching.HaxeLaunchDelegate"></configurationType>
    </shortcut>
 </extension>
 <extension
       point="org.eclipse.ui.views">
    <category
          id="eclihx.ui.HaxeCategory"
          name="%haxeViews.category">
    </category>
    <view
          allowMultiple="false"
          category="eclihx.ui.HaxeCategory"
          class="eclihx.ui.internal.ui.views.HaxeExplorerView"
          icon="icons/sample.gif"
          id="eclihx.ui.internal.ui.views.PackageExplorerView"
          name="%haxeViews.packageExplorerName">
    </view>
 </extension>
 <extension
       point="org.eclipse.debug.core.statusHandlers">
    <statusHandler
          class="eclihx.ui.launch.handlers.FinishLaunchHandler"
          code="112"
          id="eclihx.ui.launch.handlers.FinishStatusHandler"
          plugin="eclihx.launching">
    </statusHandler>
 </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="eclihx.ui.launch.HaxetLaunchConfigurationTabGroup"
            id="eclihx.ui.launch.HaxetLaunchConfigurationTabGroup"
            type="eclihx.launching.HaxeLaunchDelegate">
         <launchMode
               description="haXe launch mode"
               mode="run">
         </launchMode>
         <launchMode
               description="haXe debug mode"
               mode="debug"
               perspective="org.eclipse.debug.ui.DebugPerspective">
         </launchMode>
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="eclihx.ui.editors.haxepopup"
            targetID="#HaxeEditorContext">
         <action
               class="eclihx.ui.actions.FormatAllAction"
               id="eclihx.ui.actions.edit.haxe.format"
               label="Format File"
               menubarPath="additions">
         </action>
      </viewerContribution>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="eclihx.ui.internal.ui.views.PackageExplorerView">
         <includes>
            <contentExtension
                  pattern="eclihx.ui.internal.ui.utils.HaxeElementsContentProvider">
            </contentExtension>
   			<contentExtension
         		pattern="eclihx.ui.internal.ui.views.filter.*">
   			</contentExtension>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding
            viewerId="eclihx.ui.internal.ui.views.PackageExplorerView">
         <includes>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.*">
            </actionExtension>
            <actionExtension
                  pattern="eclihx.ui.internal.navigator.actions.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
   </extension>
     <extension 
   		point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="eclihx.ui.internal.navigator.HaxeNavigatorContentProvider"
            id="eclihx.ui.internal.ui.utils.HaxeElementsContentProvider"
            labelProvider="eclihx.ui.internal.navigator.HaxeNavigatorLabelProvider"
            name="haXe elements"
            priority="normal">
         <triggerPoints>
            <or>
               <adapt
                     type="org.eclipse.core.resources.IProject">
                  <test
                        property="org.eclipse.core.resources.projectNature"
                        value="eclihx.core.haxenature">
                  </test>
               </adapt>
				<instanceof
                     value="org.eclipse.core.resources.IResource">
               </instanceof>
            </or>
          </triggerPoints>
         <possibleChildren>
            <or>
               <instanceof
                     value="eclihx.core.haxe.model.core.IHaxeElement">
               </instanceof>
            	<instanceof	value="org.eclipse.core.resources.IResource" />
				
            </or>
         </possibleChildren>
         <commonSorter
               class="eclihx.ui.internal.navigator.HaxeNavigatorSorter">
         </commonSorter>
        <dropAssistant
              class="eclihx.ui.internal.navigator.dragdrop.ResourceDropAdapter"
              id="eclihx.ui.internal.navigator.dragdrop.resourceDropAdapter">
           <possibleDropTargets>
              <or>
                 <adapt type="org.eclipse.core.resources.IProject"/>
                 <adapt type="org.eclipse.core.resources.IResource"/>
                 <adapt type="eclihx.core.haxe.model.core.IHaxeElement"/>
              </or>
           </possibleDropTargets>
        </dropAssistant>     
      </navigatorContent>
      <actionProvider
            class="eclihx.ui.internal.navigator.actions.HaxeNavigatorActionProvider"
            id="eclihx.ui.internal.navigator.actions.HaxeEditActionProvider"
            overrides="org.eclipse.ui.navigator.resources.actions.EditActions"
            priority="higher">
         <enablement>
            <or>
               <adapt
                     type="org.eclipse.core.resources.IResource">
               </adapt>
            </or>
         </enablement>
      </actionProvider>
      <actionProvider
            class="eclihx.ui.internal.navigator.actions.HaxeOpenNavigatorActionProvider"
            id="eclihx.ui.internal.navigator.actions.HaxeOpenNavigatorActionProvider"
            overrides="org.eclipse.ui.navigator.resources.actions.OpenActions"
            priority="higher">
         <enablement>
            <or>
               <instanceof
                     value="eclihx.core.haxe.model.core.IHaxeSourceFile">
               </instanceof>
               <instanceof
                     value="eclihx.core.haxe.model.core.IHaxeBuildFile">
               </instanceof>
            </or>
         </enablement>
      </actionProvider>
      <commonWizard
            menuGroupId="group.new"
            type="new"
            wizardId="eclihx.ui.internal.ui.wizards.HaxeBuildFileWizard">
         <enablement>
            <or>
               <instanceof
                     value="eclihx.core.haxe.model.core.IHaxePackage">
               </instanceof>
               <instanceof
                     value="eclihx.core.haxe.model.core.IHaxeProject">
               </instanceof>
            </or></enablement>
      </commonWizard>
      <commonWizard
            menuGroupId="group.new"
            type="new"
            wizardId="eclihx.ui.internal.ui.wizards.HaxeFileWizard">
         <enablement>
            <or>
               <adapt
                     type="org.eclipse.core.resources.IProject">
                  <test
                        property="org.eclipse.core.resources.projectNature"
                        value="eclihx.core.haxenature">
                  </test>
               </adapt>
               <instanceof
                     value="eclihx.core.haxe.model.core.IHaxePackage">
               </instanceof>
               <instanceof
                     value="eclihx.core.haxe.model.core.IHaxeSourceFolder">
               </instanceof>
               <instanceof
                     value="eclihx.core.haxe.model.core.IHaxeSourceFile">
               </instanceof>
            </or></enablement>
      </commonWizard>
      <commonWizard
            menuGroupId="group.new"
            type="new"
            wizardId="eclihx.ui.internal.ui.wizards.HaxePackageWizard">
         <enablement>
            <or>
               <adapt
                     type="org.eclipse.core.resources.IProject">
                  <test
                        property="org.eclipse.core.resources.projectNature"
                        value="eclihx.core.haxenature">
                  </test>
               </adapt>
               <instanceof
                     value="eclihx.core.haxe.model.core.IHaxeSourceFolder">
               </instanceof>
               <instanceof
                     value="eclihx.core.haxe.model.core.IHaxePackage">
               </instanceof>
            </or>
         </enablement>
      </commonWizard>
      <commonWizard
            menuGroupId="group.new"
            type="new"
            wizardId="eclihx.ui.internal.ui.wizards.HaxeProjectWizard">
         <enablement></enablement>
      </commonWizard>
   </extension>
     <extension
           point="org.eclipse.core.runtime.products">
        <product
              application="eclihx.ui"
              name="EclihX">
        </product>
     </extension>
     <extension
           point="org.eclipse.core.filebuffers.annotationModelCreation">
        <factory
              class="org.eclipse.ui.texteditor.ResourceMarkerAnnotationModelFactory"
              extensions="*">
        </factory>
     </extension>
	<extension point = "org.eclipse.ui.popupMenus">
    	<objectContribution
        	id="eclihx.ui.actions.renameActionDelegate"
        	objectClass="eclihx.core.haxe.model.core.IHaxeSourceFile">
	    	<action id="eclihx.ui.actions.renameActionDelegate"
	        	label="Rename"
	       		menubarPath="additions"
	       		class="eclihx.ui.actions.RenameActionDelegate"	
           		definitionId="org.eclipse.ui.edit.rename"
	       		enablesFor="1">
	    	</action>
	 	</objectContribution>
	 </extension>
	 <extension point = "org.eclipse.ui.popupMenus">
    	<objectContribution
        	id="eclihx.ui.actions.moveActionDelegate"
        	objectClass="eclihx.core.haxe.model.core.IHaxeSourceFile">
	    	<action id="eclihx.ui.actions.moveActionDelegate"
	        	label="Move"
	       		menubarPath="additions"
	       		class="eclihx.ui.actions.MoveActionDelegate"
	       		enablesFor="1">
	    	</action>
	 	</objectContribution>
	 </extension>
</plugin>
