<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            description="Editing haXe Source Context"
            id="eclihx.ui.haxeEditorScope"
            name="Editing haXe Source"
            parentId="org.eclipse.ui.textEditorScope">
      </context>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="eclihx.ui.internal.ui.editors.hx.HXEditor"
            contributorClass="eclihx.ui.internal.ui.editors.hx.HxEditorActionContributor"
            extensions="hx"
            icon="icons/h_file_s.gif"
            id="eclihx.ui.internal.ui.editors.HXEditor"
            name="%hxEditor.name%">
      </editor>
      <editor
            class="org.eclipse.ui.editors.text.TextEditor"
            extensions="hxml"
            icon="icons/build_file_s.png"
            id="eclihx.ui.editor.hxml"
            name="%hxmlEditor.name%">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="eclihx.ui.internal.ui.preferences.EclihxMainPreferencePage"
            id="org.eclipse.jdt.ui.preferences.EclihXMainPreferencePage"
            name="%eclihxMainPrefName"/>
      <page
            category="org.eclipse.jdt.ui.preferences.EclihXMainPreferencePage"
            class="eclihx.ui.internal.ui.preferences.HaxeEditorPreferencePage"
            id="org.eclipse.jdt.ui.preferences.HaxeBasePreferencePage"
            name="%hxEditorPrefName"/>
      <page
            category="org.eclipse.jdt.ui.preferences.EclihXMainPreferencePage"
            class="eclihx.ui.internal.ui.preferences.HaxeCompilerPreferencePage"
            id="eclihx.ui.internal.ui.preferences.HaxeCompilerPreferencePage"
            name="%hxCompilerPrefName"/>
   </extension>
   
	<extension point="org.eclipse.ui.newWizards">
		<category 
			id="eclihx.ui.haxe"
			name="%newWizardCategoryName"/>
		<wizard
            category="eclihx.ui.haxe"
            class="eclihx.ui.internal.ui.wizards.HaxeProjectWizard"
            icon="icons/h_project_s.gif"
            id="eclihx.ui.internal.ui.wizards.HaxeProjectWizard"
            name="%newHaxeProject.name"
            project="true">
            <description>
            	%newHaxeProject.description
            </description>
		</wizard>
		<wizard
        	category="eclihx.ui.haxe"
        	class="eclihx.ui.internal.ui.wizards.HaxeFileWizard"
        	icon="icons/h_file_s.gif"
        	id="eclihx.ui.internal.ui.wizards.HaxeFileWizard"
        	name="%newHaxeFile.name"
        	project="false">
        	<description>
            	%newHaxeFile.description
            </description>
		</wizard>
		<wizard
			category="eclihx.ui.haxe"
			class="eclihx.ui.internal.ui.wizards.HaxeBuildFileWizard"
			icon="icons/build_file_s.png"
			id="eclihx.ui.internal.ui.wizards.HaxeBuildFileWizard"
			name="%newHaxeBuildFile.name"
			project="false">
			<description>
				%newHaxeBuildFile.description
			</description>
		</wizard>
	</extension>
 <extension
       point="org.eclipse.ui.perspectives">
    <perspective
          class="eclihx.ui.internal.ui.HaxePerspectiveFactory"
          icon="icons/h_perspective_s.gif"
          id="eclihx.ui.internal.ui.HaxePerspectiveFactory"
          name="%haxeEclihxPerspective.name"/>
 </extension>
 <extension
       point="org.eclipse.ui.propertyPages">
    <page
          class="eclihx.ui.internal.ui.properties.BuildPathPropertyPage"
          id="eclihx.ui.page1"
          name="%projectBuildPathPage.name">
       <enabledWhen>
          <instanceof
                value="org.eclipse.core.resources.IProject">
          </instanceof>
       </enabledWhen>
    </page>
 </extension>
 <extension
       point="org.eclipse.debug.ui.launchConfigurationTypeImages">
    <launchConfigurationTypeImage
          configTypeID="eclihx.launching.HaxeLaunchDelegate"
          icon="icons/h_app_s.gif"
          id="eclihx.ui.launchConfigurationImage"/>
 </extension>
 <extension
       point="org.eclipse.debug.ui.launchShortcuts">
    <shortcut
          class="eclihx.ui.launch.HaxeLaunchShortcut"
          helpContextId="eclihx.ui.launch.haxe_launch_shortcut"
          icon="icons/h_app_s.gif"
          id="eclihx.ui.launch.HaxeLaunchShortcut"
          label="haXe application"
          modes="run">
       <contextualLaunch>
          <enablement>
             <with
                   variable="selection">
                <count value="1"/>
                <iterate>
                <or>
                   <test
                         property="org.eclipse.debug.ui.matchesPattern"
                         value="*.hxml">
                   </test></or>
                </iterate>
             </with>
          </enablement>
       </contextualLaunch>
    </shortcut>
 </extension>
 <extension
       point="org.eclipse.ui.views">
    <category
          id="eclihx.ui.HaxeCategory"
          name="%haxeViews.category">
    </category>
    <view
          allowMultiple="false"
          category="eclihx.ui.HaxeCategory"
          class="eclihx.ui.internal.ui.views.PackageExplorerView"
          icon="icons/sample.gif"
          id="eclihx.ui.internal.ui.views.PackageExplorerView"
          name="%haxeViews.packageExplorerName">
    </view>
 </extension>
 <extension
       point="org.eclipse.ui.navigator.viewer">
    <viewer
          viewerId="eclihx.ui.internal.ui.views.PackageExplorerView">
    </viewer>
    <viewerContentBinding
          viewerId="eclihx.ui.internal.ui.views.PackageExplorerView">
       <includes>       
          <contentExtension
                pattern="org.eclipse.ui.navigator.resourceContent">
          </contentExtension>
          <contentExtension
                pattern="org.eclipse.ui.navigator.resources.filters.*">
          </contentExtension>
       </includes>
    </viewerContentBinding>
    <viewerActionBinding
          viewerId="eclihx.ui.internal.ui.views.PackageExplorerView">
       <includes>
          <actionExtension
                pattern="org.eclipse.ui.navigator.resources.*">
          </actionExtension>
       </includes>
    </viewerActionBinding>
 </extension>
 <extension
       point="org.eclipse.ui.navigator.navigatorContent">
    <commonFilter
          id="eclihx.ui.internal.ui.views.filter.hideNonHaxeProjects"
          name="haxeViews.hideNonHaxeFilter">
       <filterExpression>
          <not>
             <adapt
                   type="org.eclipse.core.resources.IProject">
                <test
                      property="nature"
                      value="eclihx.core.haxenature">
                </test>
             </adapt>
          </not>
       </filterExpression>
    </commonFilter>
 </extension>
 <extension
       point="org.eclipse.debug.core.statusHandlers">
    <statusHandler
          class="eclihx.ui.launch.handlers.FinishStatusHandler"
          code="112"
          id="eclihx.ui.launch.handlers.FinishStatusHandler"
          plugin="eclihx.launching">
    </statusHandler>
 </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="eclihx.ui.launch.HaxetLaunchConfigurationTabGroup"
            id="eclihx.ui.launch.HaxetLaunchConfigurationTabGroup"
            type="eclihx.launching.HaxeLaunchDelegate">
         <launchMode
               description="haXe launch mode"
               mode="run">
         </launchMode>
         <launchMode
               description="haXe debug mode"
               mode="debug"
               perspective="org.eclipse.debug.ui.DebugPerspective">
         </launchMode>
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="eclihx.ui.editors.haxepopup"
            targetID="#HaxeEditorContext">
         <action
               class="eclihx.ui.actions.FormatAllAction"
               id="eclihx.ui.actions.edit.haxe.format"
               label="Format File"
               menubarPath="additions">
         </action>
      </viewerContribution>
   </extension>
</plugin>
